body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 20px 20px 0px 20px;
    padding-top: 0px;
    background-color: bisque;
}


.card {
    padding: 0;
    width: 350px;
    max-width: 350px;
    height: 300px;
    max-height: 300px;
    border: 4px solid rgb(118, 165, 184);
    overflow: hidden;
    background-color: rgb(163, 163, 194);
    text-align: center;
    border-radius: 20px;
    flex-direction: column;
    box-shadow: 10px 10px lightgrey;
    transition: 0.5s;
    animation: color 2s infinite;


}


.title {
    font-family: "Sofadi One", system-ui;
    font-size: 20px;
    font-style: normal;
    background-color: rgb(163, 163, 194);
    align-items: center;

}

.cardimage {
    margin: 0;
    width: 100%;
    height: 200px;

}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 200px;


}

.description {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    background-color: rgb(163, 163, 194);
    margin: 0;

}

@media screen and (max-width: 400px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        max-width: 350px;
        height: 100%;
        flex-direction: column;
        height: auto;
    }

    .cardimage {
        width: 90%;
        height: 90%;
        object-fit: cover;
    }
}

@keyframes color {
    0%{
        border: 4px solid rgb(118, 165, 184) ;
    }

    25%{
        border: 4px solid rgb(109, 233, 185) ;
    }

    50%{
        border: 4px solid rgb(229, 255, 167);
    }

    75%{
        border: 4px solid rgb(109, 233, 185);
    }

    100%{
        border: 4px solid  rgb(118, 165, 184);
    }
}


@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        max-width: 350px;
        height: 100%;
        flex-direction: row;
        flex: 0 0 33%;
        height: auto;
    }

    .cardimage {
        width: 90%;
        height: 90%;
        object-fit: cover;
    }


}



.card:nth-child(1):hover{
    transition: 0.5s;
    transform: scale(1.2);
    box-shadow: 15px 15px rgba(124, 221, 238, 0.267);
}

.card:nth-child(2):hover{
    transition: 0.5s ;
    transform: rotate(360deg);
    margin: red;
}

.card:nth-child(3):hover{
    transition: 1s;
    transform: translate(100px);
}

.card:nth-child(4):hover{
    transition: 1s;
    transform: translate(-100px);
}

.card:nth-child(5):hover{
    transition: 0.5s;
    transform: scale(0.8);
    box-shadow: 15px 15px rgba(124, 221, 238, 0.267);
}

.card:nth-child(6):hover{
    transition: 0.5s;
    transform: scale(1.2);
    box-shadow: 15px 15px rgba(124, 221, 238, 0.267);
}

.card:nth-child(7):hover{
    transition: 0.5s ;
    transform: rotate(360deg);
    margin: red;
}

.card:nth-child(8):hover{
    transition: 1s;
    transform: translate(100px);
}

.card:nth-child(9):hover{
    transition: 1s;
    transform: translate(-100px);
}

.card:nth-child(10):hover{
    transition: 0.5s;
    transform: scale(0.8);
    box-shadow: 15px 15px rgba(124, 221, 238, 0.267);
}

.card:nth-child(11):hover{
    transition: 0.5s;
    transform: scale(1.2);
    box-shadow: 15px 15px rgba(124, 221, 238, 0.267);
}

.card:nth-child(12):hover{
    transition: 0.5s ;
    transform: rotate(360deg);
    margin: red;
}

.card:nth-child(13):hover{
    transition: 1s;
    transform: translate(100px);
}

.card:nth-child(14):hover{
    transition: 1s;
    transform: translate(-100px);
}

.card:nth-child(15):hover{
    transition: 0.5s;
    transform: scale(0.8);
    box-shadow: 15px 15px rgba(124, 221, 238, 0.267);
}

.card:nth-child(16):hover{
    transition: 0.5s;
    transform: scale(1.2);
    
}